In [3]:

import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv ('environment.csv')

In [5]:
file_path = 'environment.csv'   
df = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari data
print(df.head())

   time  env_temperature  env_pressure  altitude  env_humidity  env_co2
0   0.0            26.56        973.31    344.63         23.94      470
1   1.0            26.56        973.28    344.39         23.98      470
2   2.0            26.56        973.31    344.15         23.60      470
3   3.0            26.56        973.31    344.15         24.59      470
4   4.0            26.54        973.28    344.43         24.12      470

In [3]:
import pandas as pd

In [26]:
df0 = pd.read_csv ('emg_user0.csv')
df1 = pd.read_csv ('emg_user1.csv')
df2 = pd.read_csv ('emg_user2.csv')
df3 = pd.read_csv ('emg_user3.csv')
df4 = pd.read_csv ('emg_user4.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            1072 non-null   float64
 1   emg_right_hand  1072 non-null   float64
 2   emg_left_hand   1072 non-null   float64
dtypes: float64(3)
memory usage: 25.3 KB

In [20]:
df.isnull().sum()

time              0
emg_right_hand    0
emg_left_hand     0
dtype: int64

In [21]:
(df.isnull().sum()/len(df))*100

time              0.0
emg_right_hand    0.0
emg_left_hand     0.0
dtype: float64

In [22]:
# 2. Outliers

def count_outliers_iqr(data):
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return ((data < lower_bound) | (data > upper_bound)).sum()

#count outliers in each numerical column
outlier_counts = {}
for col in df.select_dtypes(include=['int64', 'float64']).columns:
    outlier_counts[col] = count_outliers_iqr(df[col])

#convert results dataframe
outlier_counts_df = pd.DataFrame(list(outlier_counts.items()),
                                 columns=['column', 'Outlier Count'])

# Display the outlier counts dataframe
outlier_counts_df

           column  Outlier Count
0            time              0
1  emg_right_hand             26
2   emg_left_hand             35

In [7]:
# 3 Missing value
data = {
    'time': ['2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04', '2024-10-05'],
    'env_temperature': [22.5, None, 23.1, 22.8, None],
    'env_pressure': [1010, 1012, None, 1008, 1011],
    'altitude': [100, 105, None, 110, 108],
    'env_humidity': [55, None, 60, 58, 57],
    'env_co2': [400, 410, None, 420, None]
}

In [27]:
#1 agresasi data

import pandas as pd
data0 = pd.read_csv(emg_user0.csv)
data1 = pd.read_csv(emg_user1.csv)
data2 = pd.read_csv(emg_user2.csv)
data3 = pd.read_csv(emg_user3.csv)
data4 = pd.read_csv(emg_user4.csv)
var = pd.concat([data0, data1, data2, data3, data4])

NameError: name 'emg_user0' is not defined

In [16]:
# 5 Korelasi
import seaborn as sns
import matplotlib.pyplot as plt

# Visualisasi heatmap korelasi
plt.figure(figsize=(8, 6))
corr = data.corr()
sns.heatmap(corr, annot=True, cmap='coolwarm', linewidths=0.5)
plt.title('Heatmap Korelasi Antar Variabel')
plt.show()

AttributeError: 'dict' object has no attribute 'corr'

In [22]:
#4 

data_majority = data[data['Outcome'] == 0]
data_minority = data[data['Outcome'] == 1]

# Lakukan undersampling pada kelas mayoritas
data_env_temperature_undersampled = data_env_temperature.sample(len(data_env_miniority), random_state=42)

# Gabungkan kembali data hasil undersampling
data_undersampled = pd.concat([data_env_temperature_undersampled, data_env_pressure])

# Pisahkan fitur dan target
X_resampled = data_undersampled.drop('Outcome', axis=1)
y_resampled = data_undersampled['Outcome']

KeyError: 'Outcome'

KeyError: 'feature_column'

In [24]:
#4 imbalance
user_0: pd_emg_user0_csv('a')
user_1: pd_emg_user1_csv('a')
user_2: pd_emg_user2_csv('a')
user_3: pd_emg_user3_csv('a')
user_4: pd_emg_user4_csv('a')
time,emg_right_hand,emg_left_hand
user0['kelas'] = "time"
user0['kelas'] = "emg_hand"
user0['kelas'] = "right"
user0['kelas'] = "hand"
user0['kelas'] = "emg_left"

data = pd.concat{[user0, user1, user2, user3, user4]}

SyntaxError: invalid syntax (4039850701.py, line 14)

SyntaxError: invalid syntax (3955129643.py, line 1)